<% flash.each do |type, message| %>
  <% color = set_color_by(type) %>
  <div class='container px-4 lg:px-10'>
    <div class="border-<%= color %>-500 bg-<%= color %>-200 text-<%= color %>-600 border border-l-4 px-4 rounded-lg py-4 mx-auto font-sans font-medium flex justify-between mb-4">
      <div><%= message.html_safe %></div>
      <div class="font-black mx-2 cursor-pointer" onclick='this.parentNode.remove()'>ⓧ</div>
    </div>
  </div>
<% end %>
