@tailwind base;
@tailwind components;

/*! purgecss start ignore */
@import "components/buttons";
@import "components/forms";
/*! purgecss end ignore */

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,300&family=Pacifico&display=swap');

html[data-theme='dark_theme'] {
  filter: invert(1) hue-rotate(180deg);
}

body {
  font-family: 'Montserrat', sans-serif;
}

#logo {
  font-family: 'Pacifico', cursive;
}
